<% @title = "Snug Cases" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="info-block">
        <%= image_tag("SnugLogo.png", width:"200px") %>
      
        <p> Taylor made snug cases for baroque oboe's, flutes and recorders.
         All the cases are handmade to your specification. I have made cases
         for two or three recorders, flute cases with extra slots and for all
         baroque and classical oboes. If you need more padding for protection,
          you can specify this on ordering. <p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="slider-container">
        <div class="slider" id="slider-cases">
          <ul class="images">
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/5923214.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/dsc-0233.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/dsc-0030.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/dsc-0235.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/6364900.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/1247198.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/2731284.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/6652922.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/dsc-0014.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/2078843.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/733450.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/5821503.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/4334987.jpg"> </li>
            <li> <img src="http://www.samitaylor.com/uploads/4/5/6/3/45631633/dsc-0232.jpg"> </li>
          </ul>
          <div class="img-message"> <p><p> </div>
        </div>
        <div class="thumbnails"> </div>
      </div>
    </div>
  </div>

  <div class="row">
<% @caseproducts.each do |product| %>

<% if product.stock > 0 %>

<%= form_for @order_item, url: order_items_url, remote: true do |f| %>
  <%= f.hidden_field :product_id, value: product.id %>
  <%= f.hidden_field :cart_id, value: @cart %>
  <%= f.hidden_field :quantity, value: 1 %>
<div class="col-md-4">
  <div class="product-card">
    <h3> <%=product.name%> </h3>
    <img class="product-image" src=<%= image_url(product.image_path)%>>
    <br>
    <p> <%=product.description%> </p>
    <br>
    <p><%=number_to_currency(product.unit_price, unit:'£')%> </p>
    <% if product.stock > 0 && product.stock <= 100 %>
      <p><%=product.stock%> available </p>
    <% elsif product.stock > 100 %>
      <p> available </p>
    <% else %>
      <p> out of stock </p>
   <% end %>
  <%= f.submit "add to cart" %>
</div>
</div>
    <% end %>
<% end %>

  <% end %>
</div>
</div>
