<% @title = "Home" %>

    <div class="container-fluid jumboimage">
      <div class="inner-image-text">
        <p>
        <%= link_to "Sami", about_url%> is a professional freelance oboist, specialising in historical
        performance. She performs throughout the uk and also in Europe. As well
         as a perform, she makes and sells
          <%= link_to "Snug Cases", cases_url %>
          and baroque oboe reeds and
          <%= link_to "Oboe Cane", cane_url %>.
        </p>
      </div>
  </div>

  <div class="container front-mobile-text">
    <div class="row">
      <div class="col-md-12">
        <p>
        <%= link_to "Sami", about_url%> is a professional freelance oboist, specialising in historical
        performance. She performs throughout the uk and also in Europe. As well
         as a perform, she makes and sells
          <%= link_to "Snug Cases", cases_url %>
          and baroque oboe reeds and
          <%= link_to "Oboe Cane", cane_url %>.
        </p>
      </div>
    </div>
  </div>
