<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Samantha Taylor", root_url, id: "titleLink", class: "navbar-brand text-primary" %>
    </div>
    <div id='shopping-cart-head-link'>
      <%= link_to carts_show_url do %>
      <button>
          <span class='badge'>  <%= cart_items_count %> </span>
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> </span>
      </button>
      <% end %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= active_class(root_url)%>"><%= link_to "Home", root_url%></li>
        <li class="<%= active_class(about_url)%>"><%= link_to "About", about_url%></li>
        <li class="<%= active_class(contact_url)%>"><%= link_to "Contact", contact_url%></li>
        <li>
          <div class="dropdown">
            <button class"btn btn-primary dropdown-toggle"  data-toggle="dropdown">
              <span> Shop </span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-link"><%= link_to "Snug Cases", cases_url %> </li>
              <li class="dropdown-link"><%= link_to "Oboe Cane", cane_url %></li>
            </ul>
          </div>
        </li>

      </ul>
    </div><!--/.nav-collapse -->




  </div>
</nav>
