<% @title = "Contact" %>

<div id="contact-block" class="container">
      <h1>  Contact </h1>
      <p> You can contact me on Facebook and Twitter or by using the form below </p>
  <div class="row">
      <div class="col-xs-6">
         <h3> Snug Cases </h3>
        <%= link_to image_tag("1489520659_square-twitter.png", class: "social-icon"),
                                "https://twitter.com/snugcases", target: :_blank %>
        <%= link_to image_tag("1489520704_square-facebook.png", class: "social-icon"),
                             "https://www.facebook.com/Snugcases/", target: :_blank %>
        <%= link_to image_tag("1489630731_instagram-square-flat-3.png", class: "social-icon"),
                                "http://www.instagir.com/snugcases", target: :_blank %>

      </div>

      <div class="col-xs-6">
         <h3> Sami Taylor </h3>
        <%= link_to image_tag("1489520659_square-twitter.png", class: "social-icon"),
                           "https://twitter.com/sambamy", target: :_blank %>
        <%= link_to image_tag("1489520704_square-facebook.png", class: "social-icon"),
                    "https://www.facebook.com/sami.taylor.334", target: :_blank %>
          <%= link_to image_tag("1489630731_instagram-square-flat-3.png", class: "social-icon"),
                            "https://www.instagram.com/sambamy/", target: :_blank %>
      </div>
  </div>


<% if flash[:success] %>
  <div class="alert alert-success"> <%= flash[:success] %> </div>
<%end%>

  <div class="row">
    <div class="col-md-12">
      <div class="contact-form">
        <%= form_for @message, url:{action: "create"} do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label "email" %>
        <%= f.email_field :email %>
        <br>
        <%= f.label "subject" %>
        <%= f.text_field :subject %>
        <br>
        <%= f.label "message" %>
        <%= f.text_area :content %>
        <br>
        <%= f.submit "Send", class: "submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
