<div class='container'>

<h1 style='margin-top:60px'>Shopping Cart</h1>

<% @orders.each do |order| %>
<div class='row'>
  <div class='col-md-12 cart-listing'>
    <%= form_for order do |f| %>
    <div class='edit-links'>
      <%= link_to "Remove Item", order_item_url(order), method: :delete, confirm: "Are you sure?" %>
      <br>
      <%= f.submit "Update Item" %>
    </div>

<table style='width:80%'>
  <tr>
    <th style='width:30%'> Product </th>
    <th style='width:10%'> Price </th>
    <th style='width:15%'> Quantity </th>
    <th style='width:30%; text-align:right'> Subtotal </th>
  </tr>
  <tr>
    <%  product = Product.find_by(id: order.product_id) %>
    <td> <%= product.name %> </td>
    <td> <%= number_to_currency(product.unit_price, unit:'£') %> </td>

      <td> <%= f.select :quantity, ['0','5','10','15','20','25'] %> </td>
    <% end %>
    <td style='text-align:right'> <%= number_to_currency(order.subtotal, unit:'£') %> </td>
  </tr>
</table>



  </div>
</div>
<% end %>

<% if @orders.length > 0 %>
Total = <%= number_to_currency(@cart.total, unit:'£') %>


<div id="paypal-button-container"></div>

<div id="confirm" class="hidden">
  <div>Ship to:</div>
  <div><span id="recipient"></span>, <span id="line1"></span>, <span id="city"></span></div>
  <div><span id="state"></span>, <span id="zip"></span>, <span id="country"></span></div>

  <button id="confirmButton">Complete Payment</button>
</div>

<div id="thanks" class="hidden">
  Thanks, <span id="thanksname"></span>!
</div>
</div>

<% else %>
Your cart is empty!
<% end %>

<script>

  // Render the PayPal button


  paypal.Button.render({

      // Set your environment

      env: 'sandbox', // sandbox | production

      style: {
          size: 'small',
          color: 'blue',
          shape: 'pill',
          label: 'checkout'
      },
      // PayPal Client IDs - replace with your own
      // Create a PayPal app: https://developer.paypal.com/developer/applications/create

      client: {
        sandbox:    'AeV0YsJsQbIRT-aJjjDc14nXntGVpUVtqMi7jVH72VQIi4nh1SmuR3RbCgIR2iWkyGINDe6zBXd4nRqL',
        production: 'AXTUgoZOvnOTLN7QENMCv7rokmz2q3JyH3NR74vkZSm_7IOOBynM-zWmZSAwU747JuZaiApOFrYeJKa6'
      },

      // Wait for the PayPal button to be clicked

      payment: function() {

          // Make a client-side call to the REST api to create the payment
          var order_total = <%= @cart.total.to_s %>;
          return paypal.rest.payment.create(this.props.env, this.props.client, {
                transactions: [
                    {
                        amount: { total: order_total, currency: 'GBP' }
                    }
                ]
            });
        },


      //commit: true,
      // Wait for the payment to be authorized by the customer

      onAuthorize: function(data, actions) {

          // Get the payment details

          return actions.payment.get().then(function(data) {

              // Display the payment details and a confirmation button

              var shipping = data.payer.payer_info.shipping_address;

              document.querySelector('#recipient').innerText = shipping.recipient_name;
              document.querySelector('#line1').innerText     = shipping.line1;
              document.querySelector('#city').innerText      = shipping.city;
              document.querySelector('#state').innerText     = shipping.state;
              document.querySelector('#zip').innerText       = shipping.postal_code;
              document.querySelector('#country').innerText   = shipping.country_code;

              document.querySelector('#paypal-button-container').style.display = 'none';

              $('#confirm').removeClass('hidden');
              // Listen for click on confirm button

              document.querySelector('#confirmButton').addEventListener('click', function() {

                  // Disable the button and show a loading message

                  document.querySelector('#confirm').innerText = 'Loading...';
                  document.querySelector('#confirm').disabled = true;

                  // Execute the payment

                  return actions.payment.execute().then(function() {

                      // Show a thank-you note

                     document.querySelector('#thanksname').innerText = shipping.recipient_name;

                      $('#confirm').addClass('hidden');
                      $('#thanks').removeClass('hidden');
                  });
              });
          });
      }

  }, '#paypal-button-container');
</script>
